<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2017 Yanzheng [https://github.com/micyo202/yan]

 Permission is hereby granted, free of charge, to any person obtaining a copy
 of this software and associated documentation files (the "Software"), to deal
 in the Software without restriction, including without limitation the rights
 to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 copies of the Software, and to permit persons to whom the Software is
 furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.application.name}"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="${dubbo.registry.address}" check="false"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:reference interface="com.yan.api.demo.DemoService" id="demoService" check="false"/>

    <dubbo:reference interface="com.yan.api.persistence.DelegateService" id="delegateService" check="false"/>
    <dubbo:reference interface="com.yan.api.jms.JmsSenderService" id="jmsSenderService" check="false"/>

    <dubbo:reference interface="com.yan.api.user.SysUserService" id="sysUserService" check="false"/>
    <dubbo:reference interface="com.yan.api.user.UserRoleRelService" id="userRoleRelService" check="false"/>

    <dubbo:reference interface="com.yan.api.logging.LoggingEventPropertyService" id="loggingEventPropertyService" check="false"/>
    <dubbo:reference interface="com.yan.api.logging.LoggingEventExceptionService" id="loggingEventExceptionService" check="false"/>
    <dubbo:reference interface="com.yan.api.logging.LoggingEventService" id="loggingEventService" check="false"/>

    <dubbo:reference interface="com.yan.api.role.SysRoleService" id="sysRoleService" check="false"/>
    <dubbo:reference interface="com.yan.api.role.RoleMenuRelService" id="roleMenuRelService" check="false"/>

    <dubbo:reference interface="com.yan.api.menu.SysMenuService" id="sysMenuService" check="false"/>

    <dubbo:reference interface="com.yan.api.product.TbProductService" id="tbProductService" check="false"/>

</beans>